.product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
  margin: 3% 3%;
}

.product-display h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.product-display hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.products {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 94%;
  max-width: 1200px;
}

.products .item {
  flex-basis: calc(25% - 10px);
  margin-bottom: 5%;
}

.products .item img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .products .item {
    flex-basis: calc(50% - 10px);
    margin-bottom: 5%;
  }
}
